html {
    height: 100%;
}
body {
    min-height: 100%;

    background-image: url("Blue-color-background.jpg");
}
.box{
  background-color: white;
  margin: 20px;
}
.float-container
{
  height: 100%
  width:100%;
  padding: 200px;
}
.margin{
  margin: 4px; 
}
.float-child {
  height: 100%
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
} 
.right{
  margin-left: 20px;
}
