.HospitalD,.DoctorD,.PatientD{
	height: 50vh;
	width: 100%
}
@media screen and (min-width: 768px)
{
	.HospitalD,.DoctorD,.PatientD{
		height: 100vh;
	}
}
.Heading{
	background-image: url("background.jpg");
	margin: 0px 0px 0px 0px; 
}
.HospitalD{

	background-image:url("hospital.jpg"); 

}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #388de6; /* Green */
  color: white;
}
.DoctorD{
	background-image: url("patient.png");

}
.PatientD{
	background-image: url("doctor.jpg");
}